<html xmlns="http://www.w3.org/1999/html">

<body>
<h1>Collecting information...</h1>
<script>
  function initFingerprintJS() {
    const fpPromise = FingerprintJS.load()

    fpPromise
      .then(fp => fp.get())
      .then(result => {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/update", true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
            document.writeln(xhr.response);
        }
  }
        xhr.send(JSON.stringify(result));
      })
  }
</script>
<script
  async
  src="//cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"
  onload="initFingerprintJS()"
></script>

</body>
</html>